/dev/ashmem               0666   root       root
/dev/tspdrv               0666   root       root
/dev/ttyHSL0              0660   radio      system
/dev/block/mmcblk0p10     0660   system     system
/dev/block/mmcblk0p17     0660   system     system
/dev/block/mmcblk0p18     0660   system     system
/dev/ramdump_modem_fw	  0600   system     system
/dev/ramdump_modem_sw     0600   system     system
/dev/ramdump_smem         0600   system     system
/dev/ramdump_kernel_log	  0600   system     system
/sys/kernel/debug	  0600   system     system

# logger should be world writable (for logging) but not readable
##/dev/log/*                0666   root       log
/dev/log/*                0662   root       log

# the DIAG device node is not world writable/readable.
/dev/diag                 0660   system     qcom_diag
#Apex
#/dev/diag                 0666   root       root
#regular apps need to be able to open ion
/dev/ion                  0664   system     system

#rfcomm device for Bluetooth DUN
/dev/rfcomm0              0660   bluetooth   bluetooth
/dev/btlock               0664   bluetooth  system

# the genlock client device node is world writable/readable.
/dev/genlock              0666   root      root

# gpu driver for adreno200 is globally accessible
/dev/kgsl-3d0             0666   root       root
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-2d1             0666   root       root

#Permissions for Radio
/dev/rtc0                 0600   system     system
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/smuxctl32            0640   radio      radio
/dev/sdioctl0             0640   radio      radio
/dev/sdioctl1             0640   radio      radio
/dev/sdioctl2             0640   radio      radio
/dev/sdioctl3             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl5             0640   radio      radio
/dev/sdioctl6             0640   radio      radio
/dev/sdioctl7             0640   radio      radio
/dev/sdioctl8             0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/hsicctl0             0640   radio      radio
/dev/hsicctl1             0640   radio      radio
/dev/hsicctl2             0640   radio      radio
/dev/hsicctl3             0640   radio      radio


#permissions for video
/dev/msm_vidc_reg         0660  system       audio
/dev/msm_vidc_dec         0660  system       audio
/dev/msm_vidc_dec_sec     0660  system       audio
/dev/msm_vidc_enc         0660  system       audio


#permissions for audio
/dev/msm_qcelp_in         0660   system     audio
/dev/pmem_audio           0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_evrc             0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_amrnb_in         0640   system     audio
/dev/smd3                 0660   bluetooth  bluetooth
/dev/smd2                 0660   bluetooth  bluetooth
/dev/ttyHSL1              0660   system     system
/dev/mdm                  0660   system     system
/dev/sdio_tty_ciq_00      0660   system     system
/dev/tty_sdio_00          0660   system     system
/dev/ttyGS0               0660   system     system
/dev/msm_preproc_ctl      0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_fm               0660   system     audio
/dev/msm_ac3              0660   system     audio
/dev/msm_cad              0660   system     audio
/dev/audience_a2220       0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_a2dp_in          0660   system     audio
/dev/msm_voicememo        0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/msm_mvs              0660   system     audio
/dev/oncrpc/300000ba:00010000  0660   system     drmrpc
/sys/devices/virtual/smdpkt/smdcntl*       open_timeout   0664 radio radio
/sys/devices/virtual/usb_composite/*   enable      0664  root   system
/sys/devices/virtual/smdpkt/smdcntl*       open_timeout   0664 radio radio


/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/hw_random            0660   system     system
#Apex
/dev/msm_rotator          0660   system     graphics
#/dev/msm_rotator          0664   system     system
/dev/pmem_smipool*        0660   system     camera
/dev/i2c-0                0664   root       system
/dev/i2c-1                0664   root       system
/dev/i2c-2                0664   root       system
/dev/i2c-4                0664   root       system
/dev/i2c-5                0660   media      media
# new ## interloper
/dev/i2c-10               0664   root       root
/dev/i2c-11               0664   root       root
/dev/i2c-12               0664   system       system
/dev/i2c-13               0664   root       root
/dev/i2c-14               0664   root       root
/dev/i2c-16               0664   root       root
/dev/i2c-17               0664   root       root
/dev/i2c-3                0664   root       root
/dev/i2c-7                0664   root       root
/dev/i2c-8                0664   root       root
# end new ##
/dev/tzcom                0660   system     drmrpc
/dev/qce                  0660   system     drmrpc
/dev/smd4                 0660   system     system
/dev/smd3                 0660   bluetooth      bluetooth
/dev/smd2                 0660   bluetooth      bluetooth
#Apex
/dev/smd7                 0640   radio      radio
#/dev/smd7                 0660   bluetooth      bluetooth
/dev/qemu_trace           0666   system     system
/dev/gemini0              0660   system     camera
/dev/tty_sdio_00          0660   system     system
/dev/video*	          0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/gemini0              0660   system     camera
/dev/gemini/              0660   system     camera
/dev/msm_rotator          0664   system     system
/dev/hw_random            0660   system     system
/dev/graphics/*           0660   system     graphics
#/dev/oncrpc/*             0660   root       system
/dev/oncrpc/*             0660   root       qcom_oncrpc
 

# these should not be world writable
##Apex
/dev/ttyMSM0              0600   bluetooth  bluetooth
/dev/alarm                0664   system     radio
###########
/dev/graphics/*           0660   system     graphics
/dev/msm_hw3dm            0660   system     graphics
/dev/msm_mvs              0660   system     audio
/dev/qseecom              0660   system     drmrpc
/dev/msm_pcm_lp_dec       0660   system     audio
#/dev/smd0                 0660   system     system
#Apex
/dev/smd0                 0640   radio      radio
/dev/gss                  0660   gps        gps
/dev/msm_camera/*         0660   system     camera
#/dev/msm_camera/*         0660   system     system
/dev/radio0               0644   fm_radio   fm_radio
/dev/qseecom              0660   system     drmrpc
/dev/smd11                0660   root       radio


# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input


#permissions for sensors
/dev/mpu                  0660   system      system
/dev/mpuirq               0660   system      system
/dev/timerirq             0660   system      system
/dev/msm_dsps             0660  system       system
#/dev/accelirq            0660    system  system
#/dev/compassirq          0660    system  system


# for usb printer
/dev/bus/usb/*            0660   system       usb
/dev/usb/lp*              0660   system       usb


#permission for dun
/dev/dun                  0660   system       system


# for PL2303 driver
/dev/ttyUSB0              0666   system       system


/dev/rfkill               0660   root          wifi
